@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "BlackStd";
        font-weight: 200;
        src: url("/fonts/CooperBlackStd.otf") format("truetype");
        unicode-range: U+0041-005A, U+0061-007A     
    }
    @font-face {
        font-family: "NotoSansKR";
        font-weight: 200;
        src: url("/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
    }

        @font-face {
            font-family: "NotoSansKR500";
            font-weight: 500;
            src: url("/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
        }
    body {
        font-family: BlackStd, NotoSansKR, sans-serif;
    }
}


@layer components {
    .card {
        transition: all 2s ease-out;
    }

    .fade {
        transition: all 2s ease-out;
    }

    .selected {
        box-shadow: inset 10px 10px 10px 10px gold;
    }

    .active_card {
        transform: scale(1.1);

    }

    .hover_card1 {
        transform: translate(50%, 50%)
    }

    .hover_card2 {
        transform: translate(-50%, 50%)
    }


    .hover_card3 {
        transform: translate(50%, -50%)
    }


    .hover_card4 {
        transform: translate(-50%, -50%)
    }


    .select_card1 {
        transform: translate(50%, 50%) scale(2.2);

    }

    .select_card2 {
        transform: translate(-50%, 50%) scale(2.2);

    }

    .select_card3 {
        transform: translate(50%, -50%) scale(2.2);

    }

    .select_card4 {
        transform: translate(-50%, -50%) scale(2.2);

    }

    .shadow {
        box-shadow: 5px 5px !important;
    }

    .loading {
        animation: rotation 1s linear infinite reverse;
    }

    @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
}