@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        transition: all 2s ease-out;
    }

    .fade {
        transition: all 2s ease-out;
    }

    .selected {
        box-shadow: inset 10px 10px 10px 10px gold;
    }

    .active_card {
        transform: scale(1.1);
       
    }

    .select_card1 {
        transform: scale(2.2);
        transform-origin: 0% 0%;
    }

    .select_card2 {
        transform: scale(2.2);
        transform-origin: 100% 0%;
    }

    .select_card3 {
        transform: scale(2.2);
        transform-origin: 0% 100%;
    }

    .select_card4 {
        transform: scale(2.2);
        transform-origin: 100% 100%;
    }

    .shadow {
        box-shadow: 5px 5px !important;
    }
}