@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        transition: all 2s ease-out;
    }

    .fade {
        transition: all 2s ease-out;
    }

    .selected {
        box-shadow: inset 10px 10px 10px 10px gold;
    }

    .active_card {
        transform: scale(1.1);
       
    }

    .hover_card1{
        transform: translate(50%, 50%)
    }

    .hover_card2 {
        transform: translate(-50%, 50%)
    }


    .hover_card3 {
        transform: translate(50%, -50%)
    }


    .hover_card4 {
        transform: translate(-50%, -50%)
    }


    .select_card1 {
        transform: translate(50%, 50%) scale(2.2);
    
    }
    
    .select_card2 {
        transform: translate(-50%, 50%) scale(2.2);
    
    }

    .select_card3 {
        transform: translate(50%, -50%) scale(2.2);
    
    }

    .select_card4 {
        transform: translate(-50%, -50%) scale(2.2);
    
    }

    .shadow {
        box-shadow: 5px 5px !important;
    }
}